In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num
        )

1
2
3
4
5
6
7
8
9
10

In [7]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number: {num}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [10]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [9]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#tuple unpacking
tup = [(1,2),(3,4),(5,6),(7,8),(9,10)]
for (a,b) in tup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [15]:
#for loop in dictionary

d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [18]:
#for loop in dictionary

d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [20]:
#for loop in dictionary

d = {'k1':1,'k2':2,'k3':3}
for key, value in d.items():
    print(value)

1
2
3

In [1]:
x = [1,2,3,4]

for item in x:
    pass  #does nothing and just ignore the code 

print("end of my script")

end of my script

In [3]:
mystring = 'Sammy'  

for letter in mystring:
    if letter == "a":
        continue    #ignores the value matched nd goes up in the loop again thus a is omitted in o/p
    print (letter)

S
m
m
y

In [5]:
    mystring = 'Sammy'

    for letter in mystring:
        if letter == "a":  
            break    #breaks out of loop immediately wheneve given condition is met
        print (letter)

S

In [6]:
index_count= 0
word = 'abcde'

for letter in word:
    print('At index {} the letter is {}'.format(index_count, letter))
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 0 the letter is a
At index 1 the letter is b
At index 1 the letter is b
At index 2 the letter is c
At index 2 the letter is c
At index 3 the letter is d
At index 3 the letter is d
At index 4 the letter is e
At index 4 the letter is e

In [7]:
index_count= 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [1]:
word = 'abcde'


for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [2]:
word = 'abcde'


for index, letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [8]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

zip(mylist1,mylist2)

In [9]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [11]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [15]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x','y','z']

True

In [17]:
'a' in 'a world'

True

In [18]:
'mykey' in {'mykey':345}

True

In [20]:
d = {'mykey':345}

345 in d.values()

True

In [21]:
d = {'mykey':345}

345 in d.keys()

False

In [22]:
mylist = [10,20,30,40,100]

min(mylist)

10

In [23]:
max(mylist)

100

In [1]:
from random import shuffle

In [2]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [5]:
shuffle(mylist)

In [6]:
mylist

[9, 2, 5, 3, 8, 6, 7, 1, 4, 10]

In [7]:
from random import randint

In [9]:
randint(0,100)  #its not an inplace function that means it retuns a value

80

In [10]:
input("what is your name?")

what is your name?Vandana

'Vandana'

In [12]:
number =  input("Enter a number:")

Enter a number:30

In [13]:
number

'30'

In [14]:
type('number')

str

In [17]:
float(number)  # number =  float(input("Enter a number:"))

30.0

In [16]:
int(number)  # number =  int(input("Enter a number:"))

30

In [18]:
mystring = 'hello'

In [19]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [20]:
mylist

['h', 'e', 'l', 'l', 'o']

In [22]:
mystring1 = 'vandana'

In [23]:
mylist = [letter for letter in mystring1]

In [24]:
mylist

['v', 'a', 'n', 'd', 'a', 'n', 'a']

In [1]:
mylist = [num**2 for num in range (0,11)]

In [2]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
mylist = [x**2 for x in range (0,11) if x%2 == 0]

In [7]:
mylist

[0, 4, 16, 36, 64, 100]

In [8]:
celcius= [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [9]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [10]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [11]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [12]:
results = [x if x%2 ==0 else "ODD" for x in range(0,11)]

In [13]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [14]:
#nested loop
mylist = []

for x in [2,4,6]:
    for y  in [100,200,300]:
        mylist.append (x*y)

In [15]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [16]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [17]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [4]:
'dog' in 'Dog ran away'.lower()

True

In [5]:
def dog_check(mystring):
    return "dog" in mystring.lower()

In [6]:
dog_check("her d\DOg went")

True

In [1]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter in "aeiou":
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [2]:
pig_latin("bapple")

'applebay'

In [3]:
def myfunc(name):
    
    print("Hello "+  name )

myfunc(input("Please enter your name:"))

Please enter your name:vandy
Hello vandy

In [4]:
def is_greater(a,b):
    if a>b:
        return True
    else:
        return False

In [7]:
is_greater(15,6)

True