In [1]:
#Set working directory
import os
os.chdir("D:\edwisor assignment")

In [2]:
#Check current working directory
os.getcwd()

'D:\\edwisor assignment'

In [3]:
#Import libraries
import os
import pandas as pd
import numpy as np
import matplotlib as mlt

In [4]:
#Load csv data in python
#2nd row to be skipped
df_csv = pd.read_csv("IMDB_data.csv", encoding = "ISO-8859-1", skiprows = [2])

In [5]:
#Extract the unique genres and its count and store in data frame with index key.
df1= df_csv['Genre'].value_counts().to_frame().reset_index().rename(columns={"index": "value"})

In [19]:
#Convert the required data types
df2_csv = df_csv.astype(object)

In [23]:
#Sort the genre by its name
df_csv = df_csv.sort_values('Genre', ascending = True)

In [28]:
#Create new variable whose values should be square of difference between imdbrating and imdbvotes.
#df_mtcars['NewVar'] = np.log2(df_mtcars['cyl'])
#df_mtcars = df_mtcars.astype(object)
#df_csv['imdbVotes'] = df_csv['imdbVotes'].astype(float) 
df_csv['sqr_diff'] = 0  # creating a new variable and assigning default value 0 to it.
for i in range(len(df_csv)): 
    df_csv[diff].loc[i] = df_csv['imdbRating'].loc[i] - df_csv['imdbVotes'].loc[i]
    df_csv['sqr_diff'].loc[i] = df_csv[diff].loc[i]*df_csv[diff].loc[i]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [44]:
#df_csv['imdbVotes'] = df_csv['imdbVotes'].astype(int) 
#df3_csv = df_csv.astype(int)
#df3_csv = ord(df_csv)
#type(df_csv['imdbVotes'])
#df_csv['imdbVotes'] = ord(df_csv['imdbVotes'])
df_csv['imdbVotes'] = df_csv['imdbVotes'].astype(str)

In [45]:
type(df_csv['imdbVotes'])

pandas.core.series.Series

In [46]:
df_csv[diff] = df_csv['imdbRating'].astype(str) - df_csv['imdbVotes'].astype(str)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
type(df_csv)

pandas.core.frame.DataFrame

In [11]:

#df_csv['imdbVotes'] = df_csv['imdbVotes'].astype(list) 
#df_csv['imdbRating'] = df_csv['imdbRating'].astype(list) 
df_csv['subs']= ([df_csv['imdbRating']]) - ([df_csv['imdbVotes']])

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [14]:
df_csv['imdbVotes']= pd.to_numeric(df_csv['imdbVotes'],errors='ignore')

In [15]:
type(df_csv['imdbVotes'])

pandas.core.series.Series

In [16]:
df_csv['imdbRating'] = df_csv['imdbRating'].astype(list)

In [17]:
type(df_csv['imdbRating'])

pandas.core.series.Series

In [22]:
#df_csv
#df_csv['Total']= df_csv.iloc[:,3:10].sum(axis=1)
df_csv['sum']= df_csv.iloc[:,3:5].sum(axis=1)

In [23]:
df_csv

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language,sum
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679,http://ia.media-imdb.com/images/M/MV5BMTk4ODQz...,75,"Action, Thriller",tt1345836,2012,English,0.0
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270,http://ia.media-imdb.com/images/M/MV5BMzIxOTQy...,71,"Drama, Romance",tt1659337,2012,English,0.0
2,Mike Lane is a thirty-year old living in Tampa...,Magic Mike,2580,http://ia.media-imdb.com/images/M/MV5BMTQzMDMz...,51,"Comedy, Drama",tt1915581,2012,English,0.0
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807,http://ia.media-imdb.com/images/M/MV5BMjAyODkz...,68,"Action, Thriller",tt1074638,2012,English,0.0
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828,http://ia.media-imdb.com/images/M/MV5BMTM2MTI5...,68,"Comedy, Drama, Romance",tt1045658,2012,English,0.0
5,A shy senior and a down-to-earth junior fall i...,The First Time,1538,http://ia.media-imdb.com/images/M/MV5BMjMxNDI1...,60,"Comedy, Drama, Romance",tt1763303,2012,English,0.0
6,"In California, the former Navy SEAL Chon and h...",Savages,2683,http://ia.media-imdb.com/images/M/MV5BMTk0ODIy...,55,"Crime, Drama, Thriller",tt1615065,2012,English,0.0
7,Meet the Borgens. William Borgens is an acclai...,Stuck in Love,1832,http://ia.media-imdb.com/images/M/MV5BMTU1NzI5...,63,"Comedy, Drama, Romance",tt2205697,2012,English,0.0
8,"In 1874, in the Imperial Russia, the aristocra...",Anna Karenina,2094,http://ia.media-imdb.com/images/M/MV5BMTU0NDgx...,56,"Drama, Romance",tt1781769,2012,English,0.0
9,"In the 1960s, Richard Kuklinski is working as ...",The Iceman,1859,http://ia.media-imdb.com/images/M/MV5BNDQyMjM5...,59,"Biography, Crime, Drama",tt1491044,2012,English,0.0
10,The sunrise blinds the early risers of the cit...,Broken Ledge,2718,http://ia.media-imdb.com/images/M/MV5BMTcyMzYz...,87,Drama,tt2508268,2012,English,0.0
11,A mysterious traveler infiltrates a dangerous ...,In the Realms of Madness,2718,http://ia.media-imdb.com/images/M/MV5BNzA2NzE3...,87,"Drama, Horror",tt2248841,2012,English,0.0
12,"In both its story on and off the screen, 'Flan...",Flaneurs,2718,NaN,87,"Drama, Romance",tt2364671,2012,English,0.0
13,Hailey is in an unhappy marriage but she devel...,The Start of Something Good,2718,NaN,87,"Drama, Romance",tt2331062,2012,English,0.0
14,Yannick has to deal with the haunting by himse...,True Storys of the Ghost House 3 the Demon Phe...,2718,NaN,87,Horror,tt3098520,2012,English,0.0
15,Seduced by the haunting beauty of a remote mar...,White Wind,2718,NaN,87,"Drama, Mystery",tt2555620,2012,English,0.0
16,A psychotic Iraq War veteran teaches his young...,Thelema the Equinox Diaries,2718,NaN,87,"Drama, Thriller",tt2443106,2012,English,0.0
17,A politician receives a message that his mistr...,Home Minister,2718,NaN,87,Drama,tt2923826,2012,English,0.0
18,A plot to assassinate the Vice President takes...,Placebo Effect,1752,http://ia.media-imdb.com/images/M/MV5BMTU5Njg1...,52,"Crime, Mystery, Thriller",tt0163154,1998,English,0.0
19,Long on the Island is a psychological thriller...,Long on the Island,2718,NaN,87,"Fantasy, Horror",tt2375263,2012,English,0.0
20,"Over the course of a single night, Dave and An...",I Did,2718,NaN,87,"Drama, Family",tt2388672,2012,English,0.0
21,"""Collaging Film"" is a series of shorts dating ...",Collaging Film,2718,NaN,87,Animation,tt4416372,2012,English,0.0
22,Hank lives the quiet life until a mysterious i...,Welcoming Departure,2718,http://ia.media-imdb.com/images/M/MV5BMjE0OTU2...,87,"Comedy, Drama",tt2235809,2012,English,0.0
23,The Luckiest Girl on the Lower East Side takes...,The Luckiest Girl on the Lower East Side,2718,NaN,87,Drama,tt1876494,2012,English,0.0
24,"Less Lost, is the fictional story of a young m...",Less Lost,1114,http://ia.media-imdb.com/images/M/MV5BMTk3MTg2...,68,"Drama, War",tt2259946,2012,English,0.0
25,High school student Aidan loses his girlfriend...,Still Here,2302,NaN,53,Drama,tt2275650,2012,English,0.0
26,Best friends Sam and Mike go out on a bender a...,The Hedgehog Dilemma,2718,http://ia.media-imdb.com/images/M/MV5BMTU1NDI3...,87,"Drama, Romance",tt2505274,2012,English,0.0
27,Filmed and produced by Australian director Sha...,51 Paintings,2457,http://ia.media-imdb.com/images/M/MV5BMTQyNzU2...,61,Drama,tt2318982,2012,English,0.0
28,"Capitalists, revolutionaries, and the people w...",The Adventures of Paul and Marian,2718,NaN,87,"Comedy, Musical, Romance",tt1949593,2012,English,0.0
29,Various people who lost loved ones during 9-11...,Above the Fire,2718,http://ia.media-imdb.com/images/M/MV5BMTUzNzc5...,87,Drama,tt2231544,2012,English,0.0
...,...,...,...,...,...,...,...,...,...,...
3359,Prabhavati lives a wealthy lifestyle in India ...,Sneham Kosam,NaN,NaN,6.3,"Family, Action",tt0246240,1999,Telugu,0.0
3360,The story of the famous Saint-Poet Manjunatha.,Sri Manjunatha,NaN,NaN,6.7,"Drama, Family, History, Musical",tt0249783,2001,Telugu,0.0
3361,Lord Rama's life is one of perfect adherence t...,Sri Rama Rajyam,635,NaN,7.2,Drama,tt1783377,2011,Telugu,0.0
3362,Based on the life story of the great devotee-m...,Sri Ramadasu,207,NaN,6.9,"Biography, Musical",tt0459205,2006,Telugu,0.0
3363,Josef Stalin rises from his rejection as being...,Stalin,653,http://ia.media-imdb.com/images/M/MV5BMTk5OTQw...,5.6,"Action, Drama",tt0105462,2006,Telugu,0.0
3364,"The story of aspiring police officer, Prithvir...",State Rowdy,68,NaN,7.4,"Action, Crime, Drama",tt0246254,1989,Telugu,0.0
3365,Aditya lives a middle-classed lifestyle in Aur...,Student No 1,473,NaN,6.7,"Action, Crime, Drama",tt1283956,2001,Telugu,0.0
3366,Bantu and Chantu are two close friends and fel...,Style,NaN,NaN,5.8,Musical,tt0306855,2006,Telugu,0.0
3367,Amarchandra lives a poor lifestyle in British ...,Subhash Chandra Bose,NaN,NaN,2.9,"Action, Drama, History, Romance, Thriller",tt0459554,2005,Telugu,0.0
3368,Frank Darrbo is a hapless fry cook. When his w...,Super,NaN,http://ia.media-imdb.com/images/M/MV5BMTcxMDkx...,5.1,"Action, Comedy, Drama, Mystery, Romance",tt1512235,2005,Telugu,0.0
3369,Unable to convince the ruling council of Krypt...,Superman,49,http://ia.media-imdb.com/images/M/MV5BMTI1MjA5...,4.2,"Fantasy, Musical, Sci-Fi",tt0078346,1980,Telugu,0.0
3370,A priceless idol is stolen from a temple trave...,Swamy Ra Ra,443,NaN,7.5,Crime,tt2767354,2013,Telugu,0.0
3371,"The story of a classical singer, who finds it ...",Swathi Kiranam,NaN,NaN,7.8,"Family, Musical, Drama",tt0250012,1992,Telugu,0.0
3372,"Ravindranath Tagore, A physics professor forms...",Tagore,861,NaN,7.6,"Action, Drama",tt0361037,2003,Telugu,0.0
3373,"Raja is a small-time outlaw, whose daring anti...",Takkari Donga,644,NaN,6.9,"Action, Adventure, Western",tt0307541,2002,Telugu,0.0
3374,The story of an Indian Freedom fighter who fou...,Tandra Paparayudu,61,NaN,8,"Action, Biography, Drama, History",tt0253784,1986,Telugu,0.0
3375,"Raghu, a business tycoon, is driving through a...",Tarzan Sundari,7,NaN,6,"Action, Adventure, Fantasy, Musical",tt2735328,1983,Telugu,0.0
3376,A man reconsiders his ideas about love in the ...,Teen Maar,909,NaN,5.8,"Comedy, Drama, Romance",tt1889440,2011,Telugu,0.0
3377,Daya (NTR) is a fully corrupted police officer...,Temper,"1,331",NaN,8.1,"Action, Drama",tt4442758,2015,Telugu,0.0
3378,Classic about the life story of Carnatic Music...,Thyagayya,NaN,NaN,7.3,"Family, History, Musical",tt0246277,1946,Telugu,0.0
3379,"A romantic entertainer between a ""bava"" and a ...",Uyyala Jampala,NaN,NaN,7.5,"Drama, Family, Romance",tt3290676,2013,Telugu,0.0
3380,About to re-locate to the U.S. but refusing to...,Varudu,438,NaN,3.5,"Action, Crime, Drama, Thriller",tt1582637,2010,Telugu,0.0
3381,Cable Raju is a slum dweller who works as a ca...,Vedam,"2,015",NaN,8.1,Drama,tt1649431,2010,Telugu,0.0
3382,A simple train journey to Tirupathi goes horri...,Venkatadri Express,79,NaN,7.5,"Adventure, Comedy",tt3573040,2013,Telugu,0.0
3383,Venky and his friends are accused of murdering...,Venky,NaN,NaN,7.1,"Mystery, Romance",tt0417229,2004,Telugu,0.0
3384,"Vikram Rathod, A sincere Police man joins with...",Vikramarkudu,"1,158",NaN,7.5,"Action, Comedy, Crime, Thriller",tt0858492,2006,Telugu,0.0
3385,After an eventful train trip on the Visakha/Ra...,Visakha Express,43,NaN,4.5,"Crime, Drama, Mystery, Thriller",tt1285147,2008,Telugu,0.0
3386,"Mahi is a beautiful wealthy heiress, but her f...",Yamadonga,"1,316",NaN,7.3,"Action, Comedy, Fantasy, Romance",tt0924317,2007,Telugu,0.0
3387,Yevade Subramanyam has wrapped its shooting an...,Yevade Subramanyam,188,NaN,7.9,"Adventure, Comedy, Drama",tt4515070,2015,Telugu,0.0
3388,Sathya (Allu Arjun) returns from a coma to tak...,Yevadu,"3,966",NaN,4.6,"Action, Thriller",tt2211173,2014,Telugu,0.0