# Basic string operations

In [1]:
mystring = "hjsj"

In [2]:
mystring

'hjsj'

In [3]:
mystring[::]

'hjsj'

In [4]:
mystring[::2]

'hs'

In [8]:
x = "Hello world there."

In [10]:
x = "Hello world there."
y = x + " It is beautiful outside."
print(y)

Hello world there. It is beautiful outside.

In [12]:
print("hi")
print ("ho")

hi
ho

In [13]:
"cat"+ "mat"

'catmat'

In [16]:
c =  "cat" 
7 * c

'catcatcatcatcatcatcat'

In [23]:
c.isnumeric()

False

In [22]:
c.islower()

True

In [21]:
c.upper()

'CAT'

In [20]:
c

'cat'

In [24]:
x = "Hi this is a string."

In [25]:
x.split()

['Hi', 'this', 'is', 'a', 'string.']

In [26]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng.']

In [27]:
print("Let's insert {}".format("HERE"))

Let's insert HERE

In [35]:
print("Vandana {l} {p} {s}".format(p="Peeyush",s="Singla.",l="loves"))

Vandana loves Peeyush Singla.

In [36]:
result= 236.565588

In [39]:
print("Result is {r:1.3f}".format(r= result))

Result is 236.566

float formatting follows"{value:width.precision f}"

we generally keep width = 1 in order to avoid extra spaces.

In [41]:
name = "Vandana Garg"

In [43]:
print(f"Hello {name} !")

Hello Vandana Garg !

In [46]:
my_dict= {"key1":123, "key2":"test ;)", "key3":['yeah', 'okay'], "key4":{"key":"gajab h"}}

In [47]:
my_dict

{'key1': 123,
 'key2': 'test ;)',
 'key3': ['yeah', 'okay'],
 'key4': {'key': 'gajab h'}}

In [49]:
#calling a value in dictonary
my_dict['key3']

['yeah', 'okay']

In [50]:
my_dict["key3"][1].upper()

'OKAY'

In [51]:
#adding a new key in dictonary
my_dict["key5"] = "good"
my_dict

{'key1': 123,
 'key2': 'test ;)',
 'key3': ['yeah', 'okay'],
 'key4': {'key': 'gajab h'},
 'key5': 'good'}

In [53]:
d = {'key1': 123,
 'key2': 'test ;)',
 'key3': ['yeah', 'okay'],
 'key4': {'key': 'gajab h'},
 'key5': 'good'}

In [54]:
d

{'key1': 123,
 'key2': 'test ;)',
 'key3': ['yeah', 'okay'],
 'key4': {'key': 'gajab h'},
 'key5': 'good'}

In [55]:
d.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])

In [57]:
d.values()

dict_values([123, 'test ;)', ['yeah', 'okay'], {'key': 'gajab h'}, 'good'])

In [58]:
d.items()

dict_items([('key1', 123), ('key2', 'test ;)'), ('key3', ['yeah', 'okay']), ('key4', {'key': 'gajab h'}), ('key5', 'good')])

In [65]:
t= (1,2,3)  #tuple, in praanthesis ()
my_list= [1,2,45,45,45,3,3,3,3,3,3]  #list, in braces[]

In [60]:
t

(1, 2, 3)

In [66]:
my_list

[1, 2, 45, 45, 45, 3, 3, 3, 3, 3, 3]

In [62]:
type(t)

tuple

In [64]:
type(my_list)

list

In [67]:
set(my_list)

{1, 2, 3, 45}

In [1]:
set([1,1,2,3])

{1, 2, 3}

In [17]:
my_char= ["V","v","v","G"]
myset = set(my_char)
myset

{'G', 'V', 'v'}

In [18]:
myset.add("h")
myset

{'G', 'V', 'h', 'v'}

In [5]:
set()

set()

In [6]:
set

set

In [9]:
set(my_char)

{'G', 'V', 'v'}

In [8]:
set(my_char).add("h")